<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
<title>Biblioteka - Czytelnik</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Place your description here" />
<meta name="keywords" content="put, your, keyword, here" />
<meta name="author" content="Templates.com - website templates provider" />
<link href="public/stylesheets/main.css" rel="stylesheet" type="text/css" />
<script src="public/javascripts/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="public/javascripts/cufon-yui.js" type="text/javascript"></script>
<script src="public/javascripts/cufon-replace.js" type="text/javascript"></script>
<script src="public/javascripts/AvantGarde_Bk_BT_400.font.js" type="text/javascript"></script>
<script src="public/javascripts/Myriad_Pro_300.font.js" type="text/javascript"></script>
<script src="public/javascripts/jcarousellite.js" type="text/javascript"></script>
<script type="text/javascript">

	$(document).ready(function(){
	  $("a.new_window").attr("target", "_blank");
	  //carousel
	  $(".carousel").jCarouselLite({
		  btnNext: ".next",
		  btnPrev: ".prev"
	  });
	});
</script>
<!--[if lt IE 7]>
<script type="text/javascript" src="js/ie_png.js"></script>
<script type="text/javascript">
	ie_png.fix('.png, .carousel-box .next img, .carousel-box .prev img');
</script>
<link href="ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body id="page2">
<div class="tail-top-left"></div>
<div class="tail-top">
<!-- header -->
	<div id="header">
		<div class="row-1">
			<div class="fleft"><a href=""><img src="public/images/reader.jpg" alt="" /></a></div>
			<div class="fright">
				<ul>
					<li><a href="Home" class="active">home</a></li>
					<li><a href="Admin">admin</a></li>
					<li><a href="Librarian">pracowik</a></li>
					<li><a href="Reader">czytelnik</a></li>
					
				</ul>
			</div>
		</div>
		<div class="row-2"><span><b><img src="public/images/readerP.jpg" alt=""/></b> <a href="#"></a></span></div>
	</div>
<!-- content -->
	<div id="content">
		<div class="row-1">
			<div class="inside">
				<div class="container">
					<div class="aside">
						<h3>Wykonaj akcje</h3>
						<ul>
							<li>
								<img src="images/pic1.gif" alt="" /><div class="extra-wrap"><span>Moje konto</span>Przejrzyj swoje dane...</div>
							</li>
							<li>
								<img src="images/pic2.gif" alt="" /><div class="extra-wrap"><span>Moje zamowienia</span>Przejrzyj swoje zamowienia...</div>
							</li>
							<li>
								<img src="images/pic3.gif" alt="" /><div class="extra-wrap"><span>Zamow ksiazke</span>Dokonaj zamowienia...</div>
							</li>
							
						</ul>
					
					</div>
					<div class="content"><div class="inner_copy">More <a href="http://www.templatemonster.com/">Website Templates</a> at TemplateMonster.com!</div>
						<h3>Informacje</h3>
						<p>Jezeli Twoje konto nie jest aktywne (nie mozesz zamowić ksiazki), musisz dokonac aktywacji klikajac na link aktywacyjny, ktory powinien zostac przeslany na maila. Inna przyczyna moze byc zablokowanie konta, z powodu naliczonej zbyut duzej kary. W tym przypadku sprawdz swoje kary, w zakladce moje konto.</p>
						<div class="img-box1">
							<img src="public/images/2page-img.jpg" alt="" />
							<b class="txt2">Zamawianie ksiazek on-line</b> jest nasza najnowsza usluga. Staramy sie, aby zamawianie ksiazek oraz przegladanie naszyvh zasobow bylo dla Ciebie jak najbardziej wygodne. Jezeli zauwazysz problemy z dzialaniem serwisu, prosimy o kontakt.
						</div>
						<p class="p0">
						Przypominamy o 30 dniowym czasie wykopozyczen ksiazek. Prosimy o nie przetrzymywanie ksiazek. Zyczymy milej lektury!</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
            </div>

		
				
	
<!-- footer -->
	<div id="footer">
		<div class="footer">W razie pytań, prosimy dzownić na naszą infolinię : 000-111-222<br />
			
		</div>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>